/x64
ConsoleAplication3.sln
ConsoleAplication3/ConsoleAplication3.cpp
ConsoleAplication3/ConsoleAplication3.vcxproj
ConsoleAplication3/ConsoleAplication3.vcxproj.filters
ConsoleAplication3/ConsoleAplication3.vcxproj.user
ConsoleAplication3/x64
ConsoleAplication3/ConsoleA.9e4516d4/